extends components/template.pug
block main
	main
		.round
			img(src="./assets/bride.jpg", alt="...")
			h1 Familia
		p.title Soy ...
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sapiente distinctio dolorem, nemo explicabo nesciunt necessitatibus debitis consectetur consequatur itaque quos voluptas laboriosam porro, provident corrupti iste accusantium, unde quae.
			


		
