extends components/template.pug
//- block main
//- 	#carouselExampleInterval.carousel.slide(data-ride="carousel")
//- 		.carousel-inner
//- 			.carousel-item.active(data-interval="10000")
//- 				img(src="./assets/profile.png", class="d-block w-100", alt="...")
//- 			.carousel-item(data-interval="2000")
//- 				img(src="./assets/bride.jpg", class="d-block w-100", alt="...")
//- 			.carousel-item
//- 				img(src="./assets/shaved.jpg", class="d-block w-100 rounded-circle", alt="...")
//- 		a(class="carousel-control-prev", href="#carouselExampleInterval", role="button", data-slide="prev")
//- 			span(class="carousel-control-prev-icon", aria-hidden="true")
//- 			span.sr-only Previous
//- 		a(class="carousel-control-next", href="#carouselExampleInterval", role="button", data-slide="next")
//- 			span(class="carousel-control-next-icon", aria-hidden="true")
//- 			span.sr-only Next


		
