@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family: "Michella Garden";
  src: url("fonts/MichellaGarden400.otf") format("opentype");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ACA18FD6;
  min-width: 320px;
  font-family: "Quicksand", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding-top: 30px;
}

header img {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  top: 5px;
  z-index: -1;
  min-width: 300px;
  max-height: 250px;
}

.header-name {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
  position: relative;
}

.header-name .header-name_firstname {
  font-family: "Michella Garden";
  font-size: 60px;
  color: #B92B88;
  position: absolute;
  margin: 0;
  left: 46px;
}

.header-name .header-name_lastname {
  display: block;
  color: white;
  font-size: 43px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 30px;
  letter-spacing: 2px;
}

nav {
  background-color: #F5CC2AF5;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.nav-footer {
  background-color: initial;
  padding: 20px;
}

.nav-item {
  position: relative;
}

.nav-item img {
  width: 100%;
  min-width: 150px;
}

.nav-item p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Michella Garden";
  font-size: 38px;
  color: white;
  margin: 0;
}

main {
  padding: 20px 30px;
}

main::after {
  content: "";
  clear: both;
  display: table;
}

.round {
  width: 60vw;
  height: 250px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  position: relative;
  margin-right: 20px;
}

.round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.round h1 {
  margin: 0;
  font-family: "Michella Garden";
  font-size: 80px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: -40px;
}

main .title {
  font-family: "Michella Garden";
  font-size: 50px;
  color: #421771;
}

main p {
  margin: 0;
  color: white;
  font-size: 12px;
}

.nav-footer .nav-item {
  position: relative;
  width: 180px;
  /* desired width */
}

.nav-footer .nav-item:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ratio of 1:1*/
  margin: 0 auto;
}

.nav-footer .nav-item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border: 4px solid #8a80a8;
  object-fit: cover;
}

footer {
  position: relative;
  bottom: 0px;
}

footer .icons {
  display: flex;
  justify-content: space-evenly;
}

footer .icons a {
  text-decoration: none;
}

footer .icons span::before {
  font-size: 40px;
  color: #8a80a8;
  background: white;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 15px;
  }

  .header-name .header-name_firstname {
    font-size: 44px;
    left: 36px;
  }

  .header-name .header-name_lastname {
    font-size: 32px;
    top: 22px;
  }
}