nav.nav-footer
    a(href="http://", class="nav-item")
        img(src="./assets/familia.png", alt="familia")
        p familia
    a(href="http://", class="nav-item")
        img(src="./assets/cicla.png", alt="Cicla")
        p Cicla
    a(href="http://", class="nav-item")
        img(src="./assets/reparar.png", alt="reparar")
        p Reparar