nav
	a(href="http://", class="nav-item")
		img(src="./assets/hago.png", alt="hago")
		p Hago
	a(href="http://", class="nav-item")
		img(src="./assets/pienso.png", alt="pienso")
		p Pienso
		a(href="http://", class="nav-item")
			img(src="./assets/anhelo.png", alt="anhelo")
			p Anhelo