-var social = ["001-facebook","013-twitter-1","011-instagram","010-linkedin","008-youtube"]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/fonts/Flaticon/flaticon.css")
        link(rel="stylesheet", href="../css/style.css")
        title My personal page | Maria Perico
    body
        include header.pug
        include nav.pug
        block main
        include nav-footer.pug
        include footer.pug
